.notice {
  background-color: rgba(47, 255, 75, 0.76);
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
  padding: 3px;

  &__upper {
    background-color: rgba(47, 255, 75, 0.76);
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-size: 12px;
    padding: 3px;
  }
}
