.admin-show {
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 15px;

  table {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed;
  }
  th, td {
    word-wrap: break-word;
  }
}
