<div class="home">
  <%# 左サイド %>
  <div class='home__left-side'>
    <%= render 'user/shared/left_side', user: @user %>

  </div>

  <%# メイン部分 %>
  <div class='home__main'>
    <%= render 'user/shared/timeline', tweets: @tweets %>
  </div>

  <%# 右サイド %>
  <div class='home__right-side'>
  </div>
</div>

<%# タイムライン内でサイトのプレビューを表示 %>
<%= javascript_include_tag 'preview.js' %>
