<div class='about'>
  <div class='about__header'>
    <div class='about__title'>
      SiteStocker
    </div>
  </div>
  <div class='about__content-box'>
    <%= react_component('About') %>
    <div class='about__content-button'>
      <%= link_to home_path do %>
        <button class='button__black' style='outline: none'>
          タイムラインを見る
        </button>
      <% end %>
    </div>
  </div>
</div>
