<div class='main-visual'>
  <%# 左側 %>
  <div class='main-visual__box-1'>
    <div class='main-visual__box-1-content-1'>
      <span class='main-visual__title'>SiteStocker</span>
    </div>
    <div class='main-visual__box-1-content-2'>
      <p>お気に入りのサイトを</p>
      <h3>見つけよう</h3>
      <h3>共有しよう</h3>
      <h3>語り合おう</h3>
    </div>
  </div>

  <%# 右側 %>
  <div class='main-visual__box-2'>
    <div class='main-visual__notifications'>
      <%= render 'layouts/notifications' %>
    </div>
    <div class='main-visual__box-2-content-1'>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: 'button__black button__wide' %>
      <br>
      <br>
      or
      <br>
      <br>
      <%= link_to 'ログイン', new_user_session_path, class: 'button__outline-black' %>
      <%= link_to '簡単ログイン', user_guest_sign_in_path, method: :post, class: 'button__outline-black' %>
      <br>
      <br>
    </div>
  </div>
</div>
