<%= link_to new_user_registration_path do %>
  <button>ユーザー登録</button>
<% end %>

<%= link_to new_user_session_path do %>
  <button>ログイン</button>
<% end %>

<%= link_to '' do %>
  <button>簡単ログイン</button>
<% end %>
