.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(53, 53, 53);

  &__inner-left {
    float: left;
    padding-left: 10px;
  }

  &__inner-right {
    float: right;
    line-height: 40px;
    padding-right: 10px;
  }
}
