.notice {
  background-color: rgba(47, 255, 75, 0.76);
  border-radius: 5%;
  width: 330px;
  font-size: 12px;

  &__home {
    background-color: rgba(47, 255, 75, 0.76);
    border-radius: 5%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 12px;
  }
}
