.home {

  background-color: #f6f6f6;
  padding-bottom: 40px;   // フッター用

  &__box {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__left-side {
    width: 300px;
  }
  &__main {
    background-color: white;
    width: 600px;
  }
  &__right-side {
    min-width: 300px;
    padding-left: 20px;
  }
}

// /* 画面の横幅が1100px下の際に適用される設定 */
@media screen and (max-width:1100px) {
  .home {
    background-color: white;
    &__right-side {
      display: none;
    }
    &__main {
      width: 100%;
    }
  }
}

// /* 画面の横幅が768px下の際に適用される設定 */
@media screen and (max-width:768px) {
  .home {

    &__left-side {
      width: 100px;
    }

    &__main {
      width: 100%;
    }
  }
}

/* 画面の横幅が425px下の際に適用される設定 */
@media screen and (max-width:425px) {
  .home {

    padding-bottom: 64px;   // 下タブ用

    &__left-side {
      display: none;
    }

    &__main {
      width: 100%;
    }
  }
}
