.main-visual {

  height: 100vh;
  display: flex;

  &__box-1 {
    position: relative;
    width: 50%;
    background-image: image-url('route.jpg');
    background-size: cover;
    background-position: center; /* 背景画像を中央に配置 */
    color: white;
  }

  &__box-1-content-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__title {
    font-size: 350%;
  }

  &__box-1-content-2 {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
    text-align: center;
  }

  &__box-2 {
    position: relative;
    width: 50%;
  }

  &__box-2-content-1 {
    color: black;
    position: relative;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }

  &__box-2-content-1__signup {
    color: black;
    position: relative;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }

  &__notifications {
    color: black;
    position: relative;
    width: 320px;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
}

// /* 画面の横幅が650px下の際に適用される設定 */
@media screen and (max-width:650px) {
  .main-visual {
    display: block;
    height: auto;

    &__box-1 {
      width: 100%;
      height: 350px;
    }

    &__box-1-content-1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &__title {
      font-size: 350%;
    }

    &__box-1-content-2 {
      width: 200px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 20px;
      border-radius: 5%;
      background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
    }

    &__box-2 {
      width: 100%;
      height: 500px;
    }

    &__box-2-content-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
    }

    &__notifications {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
    }

    &__box-2-content-1__signup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
    }

    &__annotation {
      display: none;
    }
  }
}
