.search {
  &__name {
    height: 60px;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
}